.botao-customizado_root {
    padding: 16px;
    border: none;

    font-size: 14px;
    opacity: 0.7;
    cursor: url('/vite.svg'), auto;
}

.botao-customizado_root:hover{
    opacity: 1;
}

.botao-customizado_primario {
    background-color: var(--cor-primaria);
}

.botao-customizado_secundario {
    background-color: var(--cor-secundaria);
}

.botao-customizado_terciario {
    background-color: var(--cor-terciaria);
}